<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button 
        routerLink='/'
        class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Автор</strong>
        <small>12/09/21</small>
    </div>
    <div>
        <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga magnam alias, dicta magni sit doloribus eius in inventore laboriosam vel harum eaque obcaecati. Magnam labore numquam, blanditiis pariatur qui excepturi omnis rem eveniet fuga rerum quidem sapiente odit facere repellendus nemo minus cum asperiores atque iste expedita odio. Molestiae, ipsam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga magnam alias, dicta magni sit doloribus eius in inventore laboriosam vel harum eaque obcaecati. Magnam labore numquam, blanditiis pariatur qui excepturi omnis rem eveniet fuga rerum quidem sapiente odit facere repellendus nemo minus cum asperiores atque iste expedita odio. Molestiae, ipsam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga magnam alias, dicta magni sit doloribus eius in inventore laboriosam vel harum eaque obcaecati. Magnam labore numquam, blanditiis pariatur qui excepturi omnis rem eveniet fuga rerum quidem sapiente odit facere repellendus nemo minus cum asperiores atque iste expedita odio. Molestiae, ipsam!
    </p>

</div>
</div>